body{
    background-color: rgb(219, 233, 232);
}
.comparison-item {
    display:inline-block;
}
h1{
    margin: 0px;
    color: rgb(27, 92, 92);
}
h3{
    color: rgb(27, 92, 92);
}
th{
    text-align: center;
}
p{
    font-size: 18px;
}
.container {
    margin: 50px auto;
    display: block;
}
.landing-image.left{
    float: left;
}
.landing-image{
    max-height: 55%;
    max-width: 45%;
}
.analysis-image.right{
    max-height: 55%;
    max-width: 45%;
}
.panel-body.analysis.left {
    text-align: center;
}
.panel-heading.data-table{
    font-size: 2em;
    color:  rgb(27, 92, 92);
    background-color: rgb(255, 255, 255);
}
.panel-heading.data-table p{
    font-size: 18px;
    margin-top: 20px;
}
.panel.panel-default{
    border: 1px dotted gray;
}
.panel.panel-default.comparison{
    border: 1px dotted gray;
}
.panel.panel-default.right{
    box-shadow: 5px 8px #dddcdc;
    width:100%;    
    text-align: center;
}
.panel.panel-default.left{
    box-shadow: 5px 8px #dddcdc;
}
.panel.panel-default.comparison{
    margin: 50px auto;
    display: block;
}
.panel-body.comparison{
    text-align: center;
}
.navbar-header .navbar-brand{
    color: rgba(45, 61, 60, 0.562);
    font-weight: bold;
}
.container-fluid .navbar-header{
    margin-left: 150px;
}
#logo:hover{
    background-color: rgb(27, 92, 92);
}
#logo{
    background-color: rgb(29, 110, 110);
    color: white;
    font-size: 2em;
}
.comparison-item:hover{
    border: 1px solid rgb(29, 110, 110);
}
.analysis-image.right:hover{
    border: 1px solid rgb(29, 110, 110);
}
.landing-image.right:hover{
    border: 1px solid rgb(29, 110, 110);
}
a:hover {
    text-decoration: none;
}
@media (max-width: 780px) {
    .analysis-image.right{
        max-height: 25%;
        max-width: 20%;
    }
    .landing-image.right{
        max-height: 25%;
        max-width: 20%;
    }
    .container-fluid{
        background-color: rgb(34, 132, 139);
    }
    .dropdown-toggle{
        color: aliceblue;
    }
    .navbar-collapse.collapse.show{
        background-color: rgb(241, 247, 244);
    }
}