body{
    background-color: rgb(219, 233, 232);
}
h1{
    margin: 0px;
}
.container{
    display: inline-block;
}
img{
    float: left;
    display: inline-block;
}
.landing-image{
    max-height: 35%;
    max-width: 45%;
}
.panel.panel-default .panel-heading {
    color: rgb(46, 107, 102);
}

.panel.panel-default{
    border: 1px dotted gray;
}
.panel.panel-default.right{
    /* position: absolute;
    left: 25%; */
    /* margin-right: 70px;*/ 
    margin-top: 50px;
    /* margin-left: 50px; */ 
    box-shadow: 5px 8px #dddcdc;
    width:100%;    
}
.panel.panel-default.left{
    /* position: absolute;
    left: 10%; */
    margin-right: 0px;
    margin-left: 50px;  
    margin-top: 50px;
    box-shadow: 5px 8px #dddcdc;

}
.navbar-header .navbar-brand{
    
    color: rgba(45, 61, 60, 0.562);
    font-weight: bold;
}
    
/* .navbar-default{
   
} */
.container-fluid .navbar-header{
    margin-left: 150px;
}
#logo:hover{
    background-color: rgb(27, 92, 92);
}